/* Base Application Styles */
body {
  background-color: #fff;
}

@font-face {
  font-family: 'commonfont';
  src: url('//at.alicdn.com/t/font_1467629908_7175777.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1467629908_7175777.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1467629908_7175777.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1467629908_7175777.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1467629908_7175777.svg#commonfont') format('svg'); /* iOS 4.1- */
}

.icon-eye,.icon-clear{
  font-family: "commonfont" !important;
  font-size: .666667rem;
  font-style: normal;
}

.icon-eye:before{ content: "\e603";}
.icon-clear:before{ content: "\e602"}