@import './common/color.scss';

.navigation-bar{
  height: .9rem;
  font-size: .8rem;
  text-align: center;
  background-color: $color-base;
  i {
    width: .9rem;
    height: .8rem;
  }
  .left{
    float: left;
  }
  .right{
    float: right;
  }
} 