.prologue{
  background-color: #90ec28;
  width: 100%;
  .sences{
    position: relative;
    .sence{
      position: absolute;
      transform-style: preserve-3d;
      transition: transform 1s;
      width: 100%;
      padding: 0;
      margin: 0;
      background-color: red;
      &.left{
        transform: rotateY(-90deg) translateZ(5rem);
      }
      &.center{
        transform: rotateY(0);
      }
      &.right{
        transform: rotateY(90deg) translateZ(5rem);
      }
    }
  }
  .btn-bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .button{
      width: 100%;
    }
  }
}